<h1>Welcome, <%= current_user.name %></h1>
<p>
    To Update Your Profile , 
    <a href="<%= edit_user_registration_path %>">
        Click here 
    </a>
    or 
    click on your email in navigation bar
</p>
